{% extends 'base.html' %}

{% block head %}
    {{super()}}
    {% include 'libraries.html' %}
{% endblock %}


{% block content %}
        
<!--title>{{ title }}</title-->
<h1>Hello, {{ user.username }}!</h1>
<p>
    <a href="http://jquery.com/">jQuery</a>
    <!--script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script-->
    <script type="text/javascript">

    $( document ).ready(function() {

        $( "a" ).click(function( event ) {
    
            alert( "As you can see, the link no longer took you to jquery.com" );
    
        });

    });
    </script>
</p>

<p>
<button onclick="createTable()" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Toggle Table
</button>

<div class="collapse" id="collapseExample">

    
</div>
</p>

<h2>Benchmarks</h2>
<div id="edw">
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/js/temp.js"></script>
{% endblock %}
